body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header nav {
    display: flex;
    background-color: beige;
    padding: 1.5em 2em;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid #000000;
}

header nav button {
    background-color: beige;
    padding: 0.5em 1.5em;
    border: 1px solid #000000;
    font-size: clamp(0.6rem, 1.5vw, 1rem);
}

header nav button:hover {
    cursor: pointer;
    background-color: beige;
    text-decoration: underline;
}

.food-container {
    display: flex;
    gap: 16px;
    margin: 16px;
}
.food-item {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: justify;
    background-color: beige;
    padding: 10px 20px;
    box-shadow: 2px 2px #000000;
}

.food-item img {
    width: 300px;
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.image-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    padding: 10px;
    gap: 10px;
    
}
.image-div img {
    max-width: 100%;
    height: auto;
}

.story {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 1rem;
    text-align: justify;
    color: rgb(67, 54, 54)
}

.story strong {
    color: black;
    display: block;
    font-size: 5rem;
    text-align: left;   
}

.heading {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    padding: 10px;
}

.sub-heading {
    font-size: 1rem;
    padding: 10px;
    margin: 0;
    color: rgb(67, 54, 54)
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin: 10px;
}
.cards-para {
    background-color: beige;
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.author {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #000000;
    width: 350px;
    padding: 10px 20px;
    background-color: beige;
    margin: 10px;
}

form label {
    letter-spacing: 1px;
    font-size: 12px;
    color: #483b3b;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    padding: 1em;
}

textarea {
    padding: 1em;
}

form div {
    margin-top: 10px;
    text-align: end;
}

form button {
    padding: 0.8em 2em;
    background-color: rgb(246, 246, 236);
    border: 1px solid #000000;
}

form button:hover {
    text-decoration: underline;
    cursor: pointer;
}

footer {
    background-color: beige;
    padding: 1em 2em;
    text-align: center;
    border-top: 1px solid #000000;
}


